body {
	font-family: sans-serif;
	max-width: 75rem;
	padding: 1.5rem;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	margin: 0 0 0.75rem;
	text-align: center;
}

.subheader {
	font-size: 0.75rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.3px;
	text-align: center;
	margin-bottom: 2rem;
}

.all-concoctions {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	margin-top: 0;
}

h3 {
	margin-top: 1.5rem;
	margin-bottom: 0.5rem;
}

h4 {
	margin-bottom: 0.5rem;
}

.instructions::before {
	content: "Tap";
}

@media (min-width: 1025px) {
	p.instructions::before {
		content: "Click";
	}
}

button {
	border: 1px solid darkgray;
	border-radius: 5px;
}

.note {
	font-size: 0.8rem;
}

 body.use-caco .caco-d-none, .vanilla-d-none {
	display: none;
}

body.use-caco .vanilla-d-none {
	display: block;
}

.ingredients, .unavailable-ingredients, .included-dlc {
	list-style-type: none;
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
}

.ingredients li, .unavailable-ingredients li {
	padding: 0.85rem 0;
}

.ingredients li span {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	margin-right: 0.25rem;
}

span.primary {
	background-color: rgba(0, 71, 171, 1);
}
span.secondary {
	background-color: rgba(0, 71, 171, 0.75);
}
span.tertiary {
	background-color: rgba(0, 71, 171, 0.5);
}
span.quarternary {
	background-color: rgba(0, 71, 171, 0.25);
}

.d-none {
	display: none;
}

.order-last {
	order: 99;
}

.turnoff-all-ingredients-button, .use-caco-mod {
	margin-top: 2rem;
	margin-bottom: .25rem;
	padding: 0.85rem 0.5rem;
}

li.dragonborn, li.dawnguard, li.creation-club, li.caco {
	padding: 0.85rem 0.5rem;
	margin-left: -0.5rem;
	margin-bottom: 4px;
	border-radius: 5px;
}

.hide-dlc {
	padding-left: 3px;
	padding-right: 3px;
	margin-bottom: 0;
	border-radius: 2px;
}

.dragonborn {
	background-color: peru;
}

.dawnguard {
	background-color: darkgray;
}

.creation-club {
	background-color: darkseagreen;
}

.caco {
	/* background-color: indianred; */
	border: 2px solid indianred

}

.back-to-top-btn {
	position: fixed;
	bottom: 3rem;
	right: 3rem;
	background: rgba(248, 248, 255, 0.85);
	border: 1px solid darkgray;
	border-radius: 0.75rem;
	padding: 1rem; 
}

.back-to-top-btn a {
	text-decoration: none;
}
.back-to-top-btn a:visited {
	color: rgb(0,0,0);
}